__pycache__
build*/
compile_commands.json
.cache/
.ccache/
.venv-gen/
.gen/
.idea/
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/cmake-variants.yaml
!.vscode/README.md
.cores/
core
cmake-build-*/
Testing/
.DS_Store
Makefile.local
CMakeUserPresets.json
.docker-home/
