SERVICE := @SERVICE_NAME@
ROOT := $(abspath $(dir $(lastword $(MAKEFILE_LIST)))/../..)

.PHONY: gen
gen:
	$(MAKE) -C $(ROOT) SERVICE=$(SERVICE) gen

.PHONY: check-gen
check-gen:
	$(MAKE) -C $(ROOT) SERVICE=$(SERVICE) check-gen

.DEFAULT:
	$(MAKE) -C $(ROOT) SERVICE=$(SERVICE) $(MAKECMDGOALS)
